/*! VISTA GENERAL Y MOBILE*/
/* Variables */
:root
{
    --fuentePrincipal: "PT Sans", serif;
    --fuenteSecundaria: "Open Sans", serif;

    --colorBlanco: #ffffff;
    --ColorNegro: #000000;
    --colorVino: #5d2421;
    --colorMarronOscuro: #804a44;
    --colorMarronClaro: #9c6b63;
    --colorNudeOscuro: #bc8f83;
    --colorNudeClaro: #fed6d6;
}

/* Globales */

html
{
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::before,
*::after
{
    box-sizing: inherit;
}

body
{
    background-image: url("/src/backround-login.jpg");

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1,
h2,
p,
a,
input,
button
{
    font-family: var(--fuenteSecundaria);
    padding: 0;
    margin: 0;
}

a
{
    text-decoration: none;
    display: block;

}

h1,
h2,
button,
a
{
    font-weight: 600;
}

input,
button
{
    font-size: 2rem;
}

h1
{
    font-size: 4rem;
    height: 6rem;
    font-family: var(--fuentePrincipal);
    padding: 0;
    margin: 0;
}

h2
{
    font-size: 3rem;
    color: var(--colorVino);
}

p
{
    font-size: 2rem;
    text-align: center;
}

.container-login-principal
{
    margin: 0 auto;
    width: 93vw;
    height: 100vh;
    display: grid;
    place-content: center;
}

.container__login
{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    box-shadow: 2px 4px 10px 4px var(--colorVino);

    background-color: transparent;
    backdrop-filter: blur(15px);

    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* Mitades del contenedor login */
.in-right,
.in-left
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.in-left
{
    margin: 2rem 0 5rem 0;
}

.in-right
{
    padding: 2rem;
    background-color: var(--colorVino);
}


/* Formulario */
.form__login
{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

/* Estilo general de Elementos del Formulario */
.entry-form
{
    outline: none;
    border: none 2px var(--colorVino);
    box-shadow: 2px 2px 10px 2px var(--colorVino);
    border-radius: 20rem;
    padding: 1rem;
}

/* Estilo elemento por elemento del formulario */
.input,
.input::placeholder
{
    background-color: transparent;
    color: var(--colorVino);
    border-radius: 20rem;
    transition: all .3s ease-in;
}

.input::placeholder
{
    color: #5d24218e;
}

:focus::-webkit-input-placeholder
{
    color: #fed6d683;
}


.input:active,
.input:focus
{
    background-color: var(--colorVino);
    color: var(--colorNudeClaro);
    box-shadow: 2px 2px 10px 2px var(--colorVino);
}

.in-right--title,
.parrafo
{
    color: var(--colorNudeClaro);
}


/* Botón */
.btn
{
    position: relative;
    cursor: pointer;
    width: 100%;
    overflow: hidden;
    background-color: var(--colorVino);
    color: var(--colorVino);
    color: var(--colorNudeClaro);
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.btn::before
{
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: var(--colorNudeClaro);
    transition: all 0.7s cubic-bezier(0.23, 1, 0.320, 1);
}


.btn:hover::before
{
    scale: 5.2;
}

.btn:hover
{
    color: var(--colorVino);
    scale: 1.1;
    box-shadow: 2px 2px 10px 2px var(--colorNudeClaro);
}

.btn:active,
.btn:focus
{
    color: var(--colorVino);
    scale: 1.1;
    box-shadow: 2px 2px 10px 2px var(--colorNudeClaro);
}

.olvidar
{
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--colorVino);
    margin: 1rem 0 0.5rem 0;
    transition: all 0.3s ease-in;
}

.olvidar:focus,
.olvidar:active,
.olvidar:focus
{
    color: var(--colorMarronOscuro);
    text-shadow: var(--colorVino) 1px 0 10px;
}


/*! VISTA COMPUTADOR*/
/*Desde aca empieza la vista escritorio*/
@media (min-width: 576px)
{
    .container__login
    {
        width: 70rem;
        padding-bottom: 0;

        height: 50vh;

        flex-direction: row;
    }

    /* Mitades del contenedor login */
    .in-right,
    .in-left
    {
        width: 50%;
        height: 100%;
        overflow: hidden;
    }


    .in-left
    {
        margin: 0
    }


    /*Forma del contenedor derecho*/
    .in-right
    {
        border-bottom-right-radius: 40%;
    }

    /* Formulario */
    .form__login
    {
        gap: 2.5rem;
    }

    .olvidar
    {
        margin: -1rem 0 0;
    }
}


/* _______________index.html_______________________________ */

.container__index
{
    margin: 0 auto;
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-auto-columns: 25% 75%;
    grid-template-rows: 93% 7%;
    grid-template-areas:
        "contenedor-izquierdo contenedor-derecho"
        "contenedor-final contenedor-final";
}

.container__izquierdo
{

    background-color: var(--colorVino);
    padding: 2rem;
    box-shadow: 2px 4px 10px 4px var(--colorVino);
    border-bottom: solid 1px var(--colorNudeClaro);

    grid-area: contenedor-izquierdo;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;

}

.container__derecho
{
    grid-area: contenedor-derecho;

    padding: 2rem;
}

/* Footer */
.container__inferior
{
    background-color: var(--colorVino);
    box-shadow: 2px 4px 10px 4px var(--colorVino);


    grid-area: contenedor-final;

    place-content: center;
}

/* Navegación */
.navegacion
{
    margin-top: 5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    text-align: center;
}

/* Ancors */

.line
{
    border: solid 0.1px var(--colorNudeClaro);
    width: 25%;
    position: absolute;
    left: 0;
    top: 8rem;
}

.cabecera__logo
{
    font-size: 3.5rem;
    color: var(--colorNudeClaro);
    margin-bottom: 2rem;
}

.ancla
{
    font-size: 2rem;
    color: var(--colorNudeClaro);
}

.ancla:focus
{
    text-shadow: var(--colorNudeClaro) 1px 0 10px;
}

/* Tooltip */
.icon-configuracion .tooltiptext,
.icon-salir .tooltiptext
{
    visibility: hidden;
    padding: .8rem;
    background-color: var(--ColorNegro);
    color: var(--colorBlanco);
    border-radius: 6px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.icon-configuracion:hover .tooltiptext,
.icon-salir:hover .tooltiptext
{
    visibility: visible;
}

.configuracion__admin
{
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.configuracion__admin__enlaces
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}